<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Code OTP</title>
    <style>
      .tab { display: inline-block; margin-left: 40px; }
    </style>
  </head>

  <body>
    <div>Dear {{user}},</div><br />
    <div>Here is a temporary security code for your Account. 
    It can only be used once within the next 4 minutes, after which it will expire:
    {{body}}
	</div> 
  </body>
</html>